Repository nolte/terraform-provider-harbor, pull requests merged in 2020-07, with the labels that each got.

#34 Fix example as well as typo
  docs/resources/harbor_retention_policy.md
Labels: documentations

#35 role_id must be role in the example.
  docs/resources/harbor_project_member.md
Labels: documentations

#36 add mkdocs extentions
  .devcontainer/DockerfileDocs
  docs/css/extras.css
  docs/guides/development.md
  mkdocs.yml
Labels: documentations

#37 using json patch for fix the invalid swagger config
  .devcontainer/devcontainer.json
  .github/workflows/cicd-acc.yml
  .github/workflows/cicd-build.yml
  docs/adr/0001-use-swagger-for-generate-http-client.md
  docs/guides/development.md
  scripts/build-00-generate-client.sh
  scripts/swagger-specs/patch.1.json
  scripts/swagger-specs/v1-swagger-extra-fields.json
  scripts/swagger-specs/v1-swagger-original.yaml
  scripts/swagger-specs/v2-swagger-original.json
Labels: chore, cicd, documentations

#38 add harbor v2.0.1 for testing
  Makefile
  scripts/swagger-specs/v2-swagger-original.json
Labels: chore

#39 Using GitHub matrix workflow for acceptance tests
  .github/workflows/cicd-acc.yml
  docs/guides/development.md
Labels: chore, cicd, documentations

#41 add second trigger for the release flow
  .github/workflows/cicd-release.yml
Labels: bug, cicd

#45 fix readme and and release job, adding missing json pathc
  .github/workflows/cicd-release.yml
  README.md
Labels: bug, chore, cicd

#47 Using Terratest for Testing the Examples
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/cicd-acc.yml
  .github/workflows/cicd-build.yml
  Makefile
  README.md
  docs/data_sources/harbor_label.md
  docs/data_sources/harbor_project.md
  docs/data_sources/harbor_registry.md
  docs/guides/kind.md
  docs/resources/harbor_label.md
  docs/resources/harbor_project.md
  docs/resources/harbor_project_member.md
  docs/resources/harbor_registry.md
  docs/resources/harbor_replication.md
  docs/resources/harbor_retention_policy.md
  docs/resources/harbor_robot_account.md
  docs/resources/harbor_tasks.md
  docs/resources/harbor_usergroup.md
  examples/test/terraform_harbor_integration_test.go
  examples/tf-acception-test-part-2/data_label.tf
  examples/tf-acception-test-part-2/data_project.tf
  examples/tf-acception-test-part-2/data_registry.tf
  examples/tf-acception-test-part-2/label.tf
  examples/tf-acception-test-part-2/provider.tf
  examples/tf-acception-test/label.tf
  examples/tf-acception-test/outputs.tf
  examples/tf-acception-test/project.tf
  examples/tf-acception-test/project_member.tf
  examples/tf-acception-test/provider.tf
  examples/tf-acception-test/registry.tf
  examples/tf-acception-test/replication.tf
  examples/tf-acception-test/retention_policy.tf
  examples/tf-acception-test/robot_account.tf
  examples/tf-acception-test/tasks.tf
  examples/tf-acception-test/usergroup.tf
  examples/tf-project-only/main.tf
  examples/tf-project-only/provider.tf
  go.mod
  go.sum
  mkdocs.yml
  scripts/build-00-generate-client.sh
  scripts/build-10-compile.sh
  scripts/swagger-specs/patch.1.json
  scripts/tst-00-prepare-kind.sh
  scripts/tst-01-prepare-harbor.sh
  scripts/tst-15-execute-classic-acc.sh
Labels: chore, cicd, documentations
